body {
  font-family: "Arial, sans-serif";
  text-align: center;
  background-color: #f0f0f0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-style: italic;
}
#password {
  width: 400px;
  margin: 15px auto;
  padding: 10px;
  font-size: 16px;
}
#generate {
  background-color: aquamarine;
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  font-style: italic;
}
